<ng-container *ngIf="currentItem && !error">
    <row>
        <div class="fix-7 lazy pad">
            <img [src]="currentItem.imageSource"
                 [alt]="currentItem.name"
                 class="col-12">
            <row>
                <row>Status: ({{currentItem.status}})</row>
                <row>Volumes: ({{currentItem.volumes}})</row>
                <row>Chapters: ({{currentItem.chapters}})</row>
                <row>Average score: ({{currentItem.averageScore}})</row>
                <row>Publishing start: ({{Tools.convertdate(currentItem.publishStart)}})</row>
                <row>Publishing end: ({{Tools.convertdate(currentItem.publishEnd)}})</row>
                <row>
                    [
                    <div *ngFor="let genre of currentItem.genres"> {{genre}},</div>
                    ]
                </row>
                <row>[
                    <div *ngFor="let theme of currentItem.themes"> {{theme}},</div>
                    ]
                </row>
            </row>
            <button class="col-12">Add to list</button>
        </div>
        <div class="col">
            <row>{{currentItem.name}}</row>
            <row>{{currentItem.description}}</row>
            <row>{{currentItem.synopsis}}</row>
        </div>
        <div class="fix-4">
            Creator
            <app-card *ngFor="let theme of currentItem.themes">
                <img [src]="currentItem.imageSource"
                     [alt]="currentItem.name"
                     class="col-4">
                {{theme}}
                <br>
                Status: ({{currentItem.status}})
                <br>
                Volumes: ({{currentItem.volumes}})
                <br>
                Chapters: ({{currentItem.chapters}})
                <br>
                Average score: ({{currentItem.averageScore}})
            </app-card>
        </div>
    </row>
</ng-container>
<ng-container *ngIf="error">
    <h1>Something went wrong!</h1>
    <h3>This Comic does not exist</h3>
</ng-container>
<div>Similar Comics</div>
<row>
    <app-card *ngFor="let theme of currentItem.themes">
        <img [src]="currentItem.imageSource"
             [alt]="currentItem.name"
             class="col-4">
        {{theme}}
        <br>
        Status: ({{currentItem.status}})
        <br>
        Volumes: ({{currentItem.volumes}})
        <br>
        Chapters: ({{currentItem.chapters}})
        <br>
        Average score: ({{currentItem.averageScore}})
    </app-card>
</row>