<dialog #createitemsDialog style="border-radius: .1rem; border: 0; height: 30rem; width: 50rem" class="lazy">
    <row>
        <row>
            <div class="col-9">
                <h3 class="no-mar pad">Add Comic</h3>
            </div>
            <div class="col-3">
                <div class="col">Lanugage:</div>
                <div class="col-8">
                    <select class="drop col-12 pad">
                        <option *ngFor="let language of Languages">{{language}}</option>
                    </select>
                </div>
            </div>
        </row>

        <div class="col-3 pad">
            <row class="too-lazy" style="height: 15rem">
                <img [src]="currentItem.ImageSource" class="fit" alt="Cover">
            </row>
            <row class="pad">
                <row>Image source:</row>
                <input class="col-12" [(ngModel)]="currentItem.ImageSource">
            </row>
        </div>
        <div class="col-9">
            <row>
                <div class="col-6 pad">
                    <row>Name:</row>
                    <row><input class="col-12" [(ngModel)]="currentItem.Name"></row>
                </div>
                <div class="col-6 pad">
                    <row>Status:</row>
                    <row>
                        <select [(ngModel)]="currentItem.Status" class="drop col-6">
                            <!--                            <option *ngFor="let status of Statuses | async"></option>-->
                        </select>
                    </row>
                </div>
            </row>
            <row class="pad">
                <row>Description:</row>
                <row><input class="col-12 pad" [(ngModel)]="currentItem.Description"></row>
            </row>
            <row class="pad">
                <row>Synopsis:</row>
                <row><input class="col-12 pad" [(ngModel)]="currentItem.Synopsis"></row>
            </row>
            <row>
                <div class="col-3 pad">
                    <row>Volumes:</row>
                    <row><input type="number" class="number col-12" [(ngModel)]="currentItem.Volumes"></row>
                </div>
                <div class="col-3 pad">
                    <row>Chapters:</row>
                    <row><input type="number" class="number col-12" [(ngModel)]="currentItem.Chapters"></row>
                </div>
            </row>
            <div class="col-3 pad">
                <row>
                    <row>Start date:</row>
                    <row><input type="date" class="col-12" [(ngModel)]="currentItem.PublishStart"></row>
                </row>
            </div>
            <div class="col-3 pad">
                <row>
                    <row>End date:</row>
                    <row><input type="date" class="col-12" [(ngModel)]="currentItem.PublishEnd"></row>
                </row>
            </div>
            <!--            <row>-->
            <!--                <div class="col-3 pad">-->
            <!--                    <row>Creator:</row>-->
            <!--                    <select [(ngModel)]="currentItem.Contributer" class="drop col-12">-->
            <!--                        <option></option>-->
            <!--                    </select>-->
            <!--                </div>-->
            <!--                <div class="col-3 pad">-->
            <!--                    <row>Role:</row>-->
            <!--                    <select [(ngModel)]="currentItem.Contributer" class="drop col-12">-->
            <!--                        <option></option>-->
            <!--                    </select>-->
            <!--                </div>-->
            <!--            </row>-->
        </div>
    </row>
    <row class="pad">
        <button class="save mar" (click)="saveItems(createitemsDialog, true)">Send</button>
        <button class="mar" (click)="saveItems(createitemsDialog)">Close</button>
    </row>
</dialog>

<button (click)="Tools.navigatePage(StringNames.Comics,1)">comic page</button>

<app-table [rows]="rows"
           [columns]="columns"
           [showRefresh]="true"
           [showCreate]="true"
           (editRow)="saveItems(createitemsDialog,false); currentItem = $event"
           (create)="saveItems(createitemsDialog)"
           (refresh)="loadItems()"></app-table>