[submodule "MyCollectionSite"]
	path = MyCollectionSite
	url = https://github.com/CrazyTnT21/MyCollectionSite
[submodule "MyCollectionApp"]
	path = MyCollectionApp
	url = https://github.com/CrazyTnT21/MyCollectionApp
