<ng-container *ngIf="item">
  <div class="pad col-12">
    <div class="fix-3">
      <img [src]="item.imageSource" class="col-12 pad lazy"/>
      <row class="mt lazy pad">
        {{item.joined}}
      </row>
    </div>
    <div class="col pad lazy ml">
      <row>
        {{item.name}}
      </row>
      <row>
        {{item.description}}
      </row>
    </div>
  </div>
  <div *ngFor="let item of [].constructor(10); let i = index">
    <app-card class="pad mb">
      <img src="https://cdn.myanimelist.net/images/userimages/13921943.jpg?t=1678557000"
           class="fix-1"/>
      <row>
        Test1
      </row>
      <row>
        Test2
      </row>
    </app-card>
  </div>
</ng-container>
<!--    <div class="fix-6 lazy pad">-->
<!--        <img class="col-12" [src]="item.imageSource" alt="Profile picture"/>-->
<!--    </div>-->
<!--    <div class="col pad lazy">-->
<!--        <row>-->
<!--            <h1 class="no-mar pad"> {{item.name}}</h1>-->
<!--        </row>-->
<!--        <row class="row-3">-->
<!--            <h3 class="no-mar pad"> {{item.description}}</h3>-->
<!--        </row>-->
<!--        <row>-->
<!--            <row>-->
<!--                <h2 class="no-mar pad">Favourites</h2>-->
<!--            </row>-->
<!--            <row *ngIf="comics != null" class="lazy">-->
<!--                <row>-->
<!--                    <h3 class="no-mar pad">Comics</h3>-->
<!--                </row>-->
<!--                <app-card *ngFor="let comic of comics; let i = index">-->
<!--                    <row><img [src]="comic.comic.imageSource" alt="Comic cover"></row>-->
<!--                    <row> {{comic.comic.name}}</row>-->
<!--                    <row> {{comic.comic.description}}</row>-->
<!--                    <row> {{comic.comic.volumes}}</row>-->
<!--                    <row> {{comic.comic.chapters}}</row>-->
<!--                    <row> {{comic.comic.Status}}</row>-->
<!--                    <row> {{comic.comic.publishStart}}</row>-->
<!--                    <row> {{comic.comic.publishEnd}}</row>-->
<!--                </app-card>-->
<!--            </row>-->
<!--        </row>-->
<!--        <ng-container class="col-3" *ngIf="item.person != null">-->
<!--            <div class="col-12">-->
<!--                <img [src]="item.person.imageSource" [alt]="item.person.name"/>-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                {{item.person.name}}-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                {{item.person.FirstName}}-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                {{item.person.LastName}}-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                {{item.person.Birthday}}-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                {{item.person.Height}} cm-->
<!--            </div>-->
<!--        </ng-container>-->
<!--    </div>-->
<!--</row>-->
