<row>
    <div class="fix-6 lazy pad">
        <img class="col-12" [src]="currentItem.ImageSource"/>
    </div>
    <div class="col pad lazy">
        <row>
            <h1 class="no-mar pad"> {{currentItem.Name}}</h1>
        </row>
        <row class="row-3">
            <h3 class="no-mar pad"> {{currentItem.Description}}</h3>
        </row>
        <row>
            <row>
                <h2 class="no-mar pad">Favourites</h2>
            </row>
            <row *ngIf="comics != null" style="background-color: lightgray">
                <row>
                    <h3 class="no-mar pad">Comics</h3>
                </row>
                <app-card *ngFor="let comic of comics; let i = index">
                    <row><img [src]="comic.comic.ImageSource"></row>
                    <row> {{comic.comic.Name}}</row>
                    <row> {{comic.comic.Description}}</row>
                    <row> {{comic.comic.Synopsis}}</row>
                    <row> {{comic.comic.Volumes}}</row>
                    <row> {{comic.comic.Chapters}}</row>
                    <row> {{comic.comic.Status}}</row>
                    <row> {{comic.comic.PublishStart}}</row>
                    <row> {{comic.comic.PublishEnd}}</row>
                </app-card>
            </row>
        </row>
        <ng-container class="col-3" *ngIf="currentItem.person != null"
                      class="col-offset-3">
            <div class="col-12">
                <img [src]="currentItem.person.ImageSource"/>
            </div>
            <div class="col-12">
                {{currentItem.person.Name}}
            </div>
            <div class="col-12">
                {{currentItem.person.FirstName}}
            </div>
            <div class="col-12">
                {{currentItem.person.LastName}}
            </div>
            <div class="col-12">
                {{currentItem.person.Birthday}}
            </div>
            <div class="col-12">
                {{currentItem.person.Height}} cm
            </div>
        </ng-container>
    </div>
</row>