
<div class="col-12 row-1">
    <div class="lazy row-12 col-1">1</div>
    <div class="row-12 col-1">2</div>
    <div class="lazy row-12 col-1">3</div>
    <div class="row-12 col-1">4</div>
    <div class="lazy row-12 col-1">5</div>
    <div class="row-12 col-1">6</div>
    <div class="lazy row-12 col-1">7</div>
    <div class="row-12 col-1">8</div>
    <div class="lazy row-12 col-1">9</div>
    <div class="row-12 col-1">10</div>
    <div class="lazy row-12 col-1">11</div>
    <div class="row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class=" row-12 col-1">1</div>
    <div class=" lazy row-12 col-1">2</div>
    <div class=" row-12 col-1">3</div>
    <div class=" lazy row-12 col-1">4</div>
    <div class=" row-12 col-1">5</div>
    <div class=" lazy row-12 col-1">6</div>
    <div class=" row-12 col-1">7</div>
    <div class=" lazy row-12 col-1">8</div>
    <div class=" row-12 col-1">9</div>
    <div class=" lazy row-12 col-1">10</div>
    <div class=" row-12 col-1">11</div>
    <div class=" lazy row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class="lazy row-12 col-1">1</div>
    <div class="row-12 col-1">2</div>
    <div class="lazy row-12 col-1">3</div>
    <div class="row-12 col-1">4</div>
    <div class="lazy row-12 col-1">5</div>
    <div class="row-12 col-1">6</div>
    <div class="lazy row-12 col-1">7</div>
    <div class="row-12 col-1">8</div>
    <div class="lazy row-12 col-1">9</div>
    <div class="row-12 col-1">10</div>
    <div class="lazy row-12 col-1">11</div>
    <div class="row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class=" row-12 col-1">1</div>
    <div class=" lazy row-12 col-1">2</div>
    <div class=" row-12 col-1">3</div>
    <div class=" lazy row-12 col-1">4</div>
    <div class=" row-12 col-1">5</div>
    <div class=" lazy row-12 col-1">6</div>
    <div class=" row-12 col-1">7</div>
    <div class=" lazy row-12 col-1">8</div>
    <div class=" row-12 col-1">9</div>
    <div class=" lazy row-12 col-1">10</div>
    <div class=" row-12 col-1">11</div>
    <div class=" lazy row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class="lazy row-12 col-1">1</div>
    <div class="row-12 col-1">2</div>
    <div class="lazy row-12 col-1">3</div>
    <div class="row-12 col-1">4</div>
    <div class="lazy row-12 col-1">5</div>
    <div class="row-12 col-1">6</div>
    <div class="lazy row-12 col-1">7</div>
    <div class="row-12 col-1">8</div>
    <div class="lazy row-12 col-1">9</div>
    <div class="row-12 col-1">10</div>
    <div class="lazy row-12 col-1">11</div>
    <div class="row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class=" row-12 col-1">1</div>
    <div class=" lazy row-12 col-1">2</div>
    <div class=" row-12 col-1">3</div>
    <div class=" lazy row-12 col-1">4</div>
    <div class=" row-12 col-1">5</div>
    <div class=" lazy row-12 col-1">6</div>
    <div class=" row-12 col-1">7</div>
    <div class=" lazy row-12 col-1">8</div>
    <div class=" row-12 col-1">9</div>
    <div class=" lazy row-12 col-1">10</div>
    <div class=" row-12 col-1">11</div>
    <div class=" lazy row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class="lazy row-12 col-1">1</div>
    <div class="row-12 col-1">2</div>
    <div class="lazy row-12 col-1">3</div>
    <div class="row-12 col-1">4</div>
    <div class="lazy row-12 col-1">5</div>
    <div class="row-12 col-1">6</div>
    <div class="lazy row-12 col-1">7</div>
    <div class="row-12 col-1">8</div>
    <div class="lazy row-12 col-1">9</div>
    <div class="row-12 col-1">10</div>
    <div class="lazy row-12 col-1">11</div>
    <div class="row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class=" row-12 col-1">1</div>
    <div class=" lazy row-12 col-1">2</div>
    <div class=" row-12 col-1">3</div>
    <div class=" lazy row-12 col-1">4</div>
    <div class=" row-12 col-1">5</div>
    <div class=" lazy row-12 col-1">6</div>
    <div class=" row-12 col-1">7</div>
    <div class=" lazy row-12 col-1">8</div>
    <div class=" row-12 col-1">9</div>
    <div class=" lazy row-12 col-1">10</div>
    <div class=" row-12 col-1">11</div>
    <div class=" lazy row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class="lazy row-12 col-1">1</div>
    <div class="row-12 col-1">2</div>
    <div class="lazy row-12 col-1">3</div>
    <div class="row-12 col-1">4</div>
    <div class="lazy row-12 col-1">5</div>
    <div class="row-12 col-1">6</div>
    <div class="lazy row-12 col-1">7</div>
    <div class="row-12 col-1">8</div>
    <div class="lazy row-12 col-1">9</div>
    <div class="row-12 col-1">10</div>
    <div class="lazy row-12 col-1">11</div>
    <div class="row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class=" row-12 col-1">1</div>
    <div class=" lazy row-12 col-1">2</div>
    <div class=" row-12 col-1">3</div>
    <div class=" lazy row-12 col-1">4</div>
    <div class=" row-12 col-1">5</div>
    <div class=" lazy row-12 col-1">6</div>
    <div class=" row-12 col-1">7</div>
    <div class=" lazy row-12 col-1">8</div>
    <div class=" row-12 col-1">9</div>
    <div class=" lazy row-12 col-1">10</div>
    <div class=" row-12 col-1">11</div>
    <div class=" lazy row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class="lazy row-12 col-1">1</div>
    <div class="row-12 col-1">2</div>
    <div class="lazy row-12 col-1">3</div>
    <div class="row-12 col-1">4</div>
    <div class="lazy row-12 col-1">5</div>
    <div class="row-12 col-1">6</div>
    <div class="lazy row-12 col-1">7</div>
    <div class="row-12 col-1">8</div>
    <div class="lazy row-12 col-1">9</div>
    <div class="row-12 col-1">10</div>
    <div class="lazy row-12 col-1">11</div>
    <div class="row-12 col-1">12</div>
</div>
<div class="col-12 row-1">
    <div class=" row-12 col-1">1</div>
    <div class=" lazy row-12 col-1">2</div>
    <div class=" row-12 col-1">3</div>
    <div class=" lazy row-12 col-1">4</div>
    <div class=" row-12 col-1">5</div>
    <div class=" lazy row-12 col-1">6</div>
    <div class=" row-12 col-1">7</div>
    <div class=" lazy row-12 col-1">8</div>
    <div class=" row-12 col-1">9</div>
    <div class=" lazy row-12 col-1">10</div>
    <div class=" row-12 col-1">11</div>
    <div class=" lazy row-12 col-1">12</div>
</div>

<p> Main Conent</p>
<div class="dropdown">
    <button onclick="myFunction()"
            class="dropbtn">Dropdown
    </button>
    <div id="myDropdown"
         class="dropdown-content">
        <button>Test</button>
        <button>Test</button>
        <button>Test</button>
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </div>
</div>

<button (click)="dialog.show()">Open Dialog</button>
<app-dialog [autosize]="true" (save)="createUser()">
    <row>
        <div class="col">
            <row><h3 class="no-mar">Username</h3></row>
            <row><input [(ngModel)]="user.Name"></row>
            <row><a href="#">Forgot username?</a></row>
            <row><h3 class="no-mar">Password</h3></row>
            <row><input type="password" [(ngModel)]="user.Password"></row>
            <row><a href="#">Forgot password?</a></row>
            <row><p> New to MyCollection? Create a new account <a href="#">here!</a></p></row>
            <row><input [(ngModel)]="user.Salt"></row>
        </div>
        <div class="col-3">
            <row>
                <button class="pad col-12"> Continue with Google</button>
                <button class="pad col-12"> Continue with Twitter</button>
                <button class="pad col-12"> Continue with Facebook</button>
            </row>
        </div>
    </row>
</app-dialog>