<button (click)="dialog.show()">Open Dialog</button>
<app-dialog [autosize]="true" (save)="createUser()">
  <row>
    <div class="col">
      <row><h3 class="no-mar">Username</h3></row>
      <row><input [(ngModel)]="user.name"></row>
      <row><a href="#">Forgot username?</a></row>
      <row><h3 class="no-mar">Password</h3></row>
      <row><input type="password" [(ngModel)]="user.Password"></row>
      <row><a href="#">Forgot password?</a></row>
      <row><p> New to MyCollection? Create a new account <a href="#">here!</a></p></row>
      <row><input [(ngModel)]="user.Salt"></row>
    </div>
    <div class="col-3">
      <row>
        <button class="pad col-12"> Continue with Google</button>
        <button class="pad col-12"> Continue with Twitter</button>
        <button class="pad col-12"> Continue with Facebook</button>
      </row>
    </div>
  </row>
</app-dialog>
<div class="col lazy"><h1>Comics</h1></div>
