<row>
    <div class="col-2">Window title: <input></div>
    <div class="col-2">Sprites: <input></div>
    <div class="col-2">Models: <input></div>
    <div class="col-2">Fonts: <input></div>
</row>
<row style="min-height: 25rem">
    <div class="col-2 pad"
         style="background-color: rgb(238, 238, 238); overflow-y: scroll;">
        <div *ngFor="let item of GameItems; let i = index" class="col-12">
            <button (click)="testclick(i)" class="col-12"
                    [ngStyle]="{'background-color': i == selectedindex ? '#2133' : ''}">
                {{item.Name}}
            </button>
        </div>
    </div>
    <div class="col un"
         style="background-color: rgb(230, 230, 230);">
    </div>
    <div class="col-4 un pad"
         style="background-color: rgb(243, 243, 243);">
        <row *ngIf="selectedindex > -1">
            <row class="pad">
                <label class="col-12">Name</label>
                <input type="text"
                       class="col-12"
                       [(ngModel)]="GameItems[selectedindex].Name">
            </row>
            <row class="pad">
                <label class="col-12">Position</label>
                <row>
                    <div class="col-4">
                        <label class="col-2">X: </label>
                        <input type="number"
                               class="number col-10"
                               [(ngModel)]="GameItems[selectedindex].parameters.Position[0]">
                    </div>
                    <div class="col-4">
                        <label class="col-2">Y: </label>
                        <input type="number"
                               class="number col-10"
                               [(ngModel)]="GameItems[selectedindex].parameters.Position[1]">
                    </div>
                    <div class="col-4">
                        <label class="col-2">Z: </label>
                        <input type="number"
                               class="number col-10"
                               [(ngModel)]="GameItems[selectedindex].parameters.Position[2]">
                    </div>
                </row>
            </row>
            <row class="pad">
                <label class="col-12">Size</label>
                <row>
                    <div class="col-4">
                        <label class="col-2">X: </label>
                        <input type="number"
                               class="number col-10"
                               [(ngModel)]="GameItems[selectedindex].parameters.Size[0]">
                    </div>
                    <div class="col-4">
                        <label class="col-2">Y: </label>
                        <input type="number"
                               class="number col-10"
                               [(ngModel)]="GameItems[selectedindex].parameters.Size[1]">
                    </div>
                    <div class="col-4">
                        <label class="col-2">Z: </label>
                        <input type="number"
                               class="number col-10"
                               [(ngModel)]="GameItems[selectedindex].parameters.Size[2]">
                    </div>
                </row>
            </row>
            <label class="col-12">Color</label>
            <input type="color"
                   class="col-4"
                   [style.border]="1"
                   [(ngModel)]="GameItems[selectedindex].parameters.Color">
            <label class="col-12">Rotation</label>
            <input type="number" class="number col-12"
                   [(ngModel)]="GameItems[selectedindex].parameters.Rotation">
            <label class="col-12">Component Type</label>
            <select class="drop col-12"
                    [disabled]="custom"
                    [(ngModel)]="GameItems[selectedindex].Type">
                <option *ngFor="let item of components">{{item}}</option>
            </select>
            <row>
                <label>Custom Type</label>
                <input type="checkbox" [(ngModel)]="custom">
                <row>
                    <input type="text" *ngIf="custom" [(ngModel)]="GameItems[selectedindex].Type">
                </row>

            </row>
            <row>
                <label>Active</label>
                <input type="checkbox" [(ngModel)]="GameItems[selectedindex].parameters.Active">
            </row>
        </row>

    </div>
    <row class="pad">
        <button (click)="generateService()">Generate</button>
        <button (click)="createGameItem()" class="save">Create</button>
        <button (click)="removeGameItem()" class="delete">Remove</button>
    </row>
    <row>
        <input type="file"
               class="drop"
               accept=".cs"
               (change)="projectdataLoad($event)"/>
    </row>
</row>